.icon-sm {
  font-size: 0.75rem;
}
.icon-md {
  font-size: 1rem;
}
.icon-lg {
  font-size: 1.5rem;
}
.icon-2x {
  font-size: 2rem;
}
.icon-3x {
  font-size: 3rem;
}
.icon-4x {
  font-size: 4rem;
}
.icon-5x {
  font-size: 5rem;
}
.icon-6x {
  font-size: 6rem;
}
